requests==2.32.3
PySocks==1.7.1
pydantic==2.10.6
moviepy==1.0.3
pycryptodomex==3.21.0

#annotated-types==0.7.0
#async-timeout==4.0.3
beanstalkc3==0.4.0
#certifi==2024.8.30
#charset-normalizer==3.3.2
#fake-useragent==1.5.1
#greenlet==3.0.3
#idna==3.10
#instaloader==4.13.1
kafka-python==2.0.2
#mysqlclient==2.2.4
#playwright==1.41.0
#pydantic==2.9.2
#pydantic_core==2.23.4
#pyee==11.0.1
#python-dateutil==2.9.0.post0
PyYAML==5.3.1
#redis==5.0.8
#sentry-sdk==2.15.0
#six==1.17.0
#tiktokapipy==0.2.4.post2
#typing_extensions==4.12.2
#urllib3==2.2.3